/* General Styles Start */
* {
    font-family:'Times New Roman', Times, serif;
}

h1 {
    font-size: 50px;
    text-align: center;
}

h2 {
    font-size: 30px;
    text-align: center;
    padding: 25px;
}

h3 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 1px;
    font-style: italic;
}

h4 {
    font-size: 20px;
    text-align: center;
    padding: 25px;
    color: gray;
}

li {
    display: inline-block;
    margin: 15px 100px;
}

img {
    width: 250px;
    height: 250px;
    margin-left: 15px;
    position: relative;
}

p {
    margin-top: 12px;
    margin-left: 30px;
    display: inline-block;
    width: 30vw;
}


/* Header & Nav Start */
header {
    width: 100vw;
    background-color:peachpuff;
    padding: 50px;
    
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    background-color: oldlace;
}


/* Main Start*/
section {
    border: 3px solid black;
    width: 50vw;
    justify-content: center;
    margin: 0px 25%;
}

article {
    margin: 0 15%;
}

.about {
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
}

.work {
    display: flex;
    width: 35vw;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.work p {
    margin: 0;
    font-weight: bold;
}

#first {
    border: 3px outset darkgrey;
    margin: 0 10px 10px 10px;
    width: 35vw;
    height: auto;
}


#code-refactor {
    text-align: center;
    width: 16vw;
    height: auto;
}

#refactor {
    border: 3px outset darkgrey;
    justify-content: center;
    margin: 10px;
    width: 15vw;
    height: 15vh;
}

#coming {
    text-align: center;
    width: 16vw;
    height: auto;
}

.coming-soon {
    border: 3px outset darkgrey;
    justify-content: center;
    margin: 10px;
    width: 15vw;
    height: 15vh;
}

#contact-info li {
    display: block;
    text-align: center;
    margin: 20px;
}

 /* Main Pseudo-Classes Start */
.work img:hover {
     filter: brightness(50%);
}


/* Footer */
footer {
    background-color: oldlace;
}


/* Responsive Start */
@media screen and (max-width: 1604px) {
    .about {
      flex-direction: column;
      align-content: center;
    }

    img {
        margin: auto;
    }

    p {
        margin: 20px;
        display: block;
    }
}

@media screen and (max-width: 818px) {
    nav {
        flex-flow: column wrap;
    }
    li {
        display: block;
        text-align: center;
        margin: 20px;
    }
}